body {
	background-color: #FFF9DD;
}

body > div, body > .ramka {
	margin-bottom: 3em;
}

.ramka {
	background-color: #FFF5C4;
	margin: 0.5em;
	border-radius: 1em;
	box-shadow: 0 1px 5px #8A7F4A;
	padding: 0.5em;
}

.ramka .ramka {
	background-color: #FFF0A8;
}

.ramka:last-child {
	border-radius: 1em 1em 6em 1em;
}

.ramka .ramka:last-child {
	border-radius: 1em 1em 5em 1em;
}

.zewnętrzna {
	float: right;
	width: 30%;
}

ul {
	margin: 0;
	padding-left: 2em;
}

dt {
	font-weight: bold;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
}

h1 {
	font-size: 1.75em;
	text-align: center;
	margin: 1em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.5em;
}

.nieaktualny {
	text-decoration: line-through;
	opacity: 0.5;
}

#lista_gier h2 {
	font-size: 1.5em;
	text-align: center;
}

.ocena {
	font-family: FontAwesome;
	font-size: 2em;
}

.ocena[wartość="1"] {
	color: hsl(0, 100%, 45%);
}

.ocena[wartość="2"] {
	color: hsl(20, 100%, 45%);
}

.ocena[wartość="3"] {
	color: hsl(50, 100%, 45%);
}

.ocena[wartość="4"] {
	color: hsl(70, 100%, 45%);
}

.ocena[wartość="5"] {
	color: hsl(120, 100%, 45%);
}

th {
	text-align: left;
	padding-right: 1em;
}

td {
	padding-right: 2em;
}

.wartość_liczbowa {
	text-align: right;
}
